body{
    padding: 0;
    background-color: rgb(245, 245, 220);
}

.splash {
    margin: auto;
    text-align: center;
    position: relative;
}
.centered {
    position: absolute;
    top: 35%;
    left: 38%;
    background-color:transparent;
    padding: 20px;
}

#start-button{
    background-color: red;
    color: white;
    padding: 10px;
    position: relative;
}

#miCanvas {
    border: 3px solid black;
    background-color: rgb(169, 169, 169);  
  }


/*highway {
    width: 450px;
    height: 100vh;
    background-color: rgb(169, 169, 169);
    margin: auto;
    position: relative;
    border-left: 5px solid black;
    border-right: 5px solid black;
}*/

/*#player{
    width: 150px;
    height: 150px;
    background-color: rgb(169, 169, 169);
    position: absolute;
    top: 500px;
    left: 150px;
    background-image: url(https://www.pinclipart.com/picdir/big/15-155064_race-car-clipart-above-bird-eye-view-car.png);
    background-size: cover;
    background-color:transparent;
}
/*truck{
    width: 150px;
    height: 150px;
    background-color: black;
}*/

